@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã thay đổi Mật khẩu thành công.
    Bấm <a asp-page="./Login">để đăng nhập</a>.
</p>
